<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Orbitron|Satisfy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
  
</head>


<style type="text/css">
  
  body{
    background-color:#ffb464;
  }


.div4{
  background-color:#ff4d58;
  width:1200px;
  height:0px;
  padding:17px;
  border-radius:5px;
  position:absolute;
  top:120px;
  left:0px;
  z-index:-1;
}
.div3{
  background-color:#cd3e47;
  width:800px;
  height:0px;
  padding:27px;
  border-radius:5px;
  position:absolute;
  top:85px;
  left:0px;
  z-index:-1
}

  h1{
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size:60px;
    text-shadow: #000 1px 2px 10px;
    color:#fff;
    position:absolute;
    top:0px;
    left:250px;
    transform:;
  }
h2{
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size:50px;
    text-shadow: #000 1px 2px 10px;
    color:#fff;
    position:absolute;
    top:140px;
    left:300px;
    transform:;
  }
b{
 position:absolute;
  left:955px;
  top:325px;
}
c{
 position:absolute;
  left:955px;
  top:485px;
}
d{
   position:absolute;
  left:463px;
  top:325px;
}
e{
 position:absolute;
  left:463px;
  top:485px;
}
.button{
  background-color:#fff;
  width:50px;
  height:4px;
  padding:10px;
  border-radius:5px;
  position:absolute;
  top:110px;
  left:560px;
  z-index:1;
   box-shadow: 1px 2px 3px #888888;
   list-style-type:none;
}
.button:hover{
  background-color:#f1f1f1;

}

.button2{
  background-color:#fff;
  width:50px;
  height:4px;
  padding:10px;
  border-radius:5px;
  position:absolute;
  top:110px;
  left:670px;
  z-index:1;
   box-shadow: 1px 2px 3px #888888;
   list-style-type:none;
}
.button2:hover{
  background-color:#f1f1f1;

}
.button3{
  background-color:#fff;
  width:50px;
  height:4px;
  padding:10px;
  border-radius:5px;
  position:absolute;
  top:110px;
  left:780px;
  z-index:1;
   box-shadow: 1px 2px 3px #888888;
   list-style-type:none;
}
.button3:hover{
  background-color:#f1f1f1;

}
.button4{
  background-color:#fff;
  width:50px;
  height:4px;
  padding:10px;
  border-radius:5px;
  position:absolute;
  top:110px;
  left:890px;
  z-index:1;
   box-shadow: 1px 2px 3px #888888;
   list-style-type:none;
}.button4:hover{
  background-color:#f1f1f1;

}
.button5{
  background-color:#fff;
  width:50px;
  height:4px;
  padding:10px;
  border-radius:5px;
  position:absolute;
  top:110px;
  left:1000px;
  z-index:1;
   box-shadow: 1px 2px 3px #888888;
   list-style-type:none;
}
.button5:hover{
  background-color:#f1f1f1;

}

b1{
 position:absolute;
  left:10px;
  top:298px;
  font-size:12px;
  font-family: 'Concert One', cursive;
  text-shadow: #fff 2px 1px 1px;
  text-decoration:underline;
}
c1{
 position:absolute;
  left:1150px;
  top:458px;
  font-size:12px;
  font-family: 'Concert One', cursive;
  text-shadow: #fff 2px 1px 1px;
  text-decoration:underline;
  }
d1{
   position:absolute;
  left:620px;
  top:298px;
  font-size:12px;
  font-family: 'Concert One', cursive;
  text-shadow:  #fff 2px 1px 1px;
  text-decoration:underline;
}
e1{
 position:absolute;
  left:600px;
  top:458px;
  font-size:12px;
  font-family: 'Concert One', cursive;
  text-shadow:  #fff 2px 1px 1px;
  text-decoration:underline;
}
